.movie-card {
  display: flex;
  flex-wrap: wrap;
}
.movie-Container {
  border-style: double;
  border-color: gray;
  margin: 10px;
}
.movie-add {
  border-radius: 50%;
  background-color: azure;
  color: black;
  height: 50px;
  outline: 0px;
}
.movie-img {
  padding: 5px;
}
.movie-title {
  padding-top: 5px;
}
