.navbar {
  height: 50px;
  width: 100%;
  background-color: rgb(101, 101, 233);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shop {
  display: flex;
  flex-direction: row;
}
